.container {
  height: auto;
}

.containBody {
  padding-top: 40px;
  margin: 0px auto;
  width: 70vw;
  display: flex;
  flex-direction: row;
}
.containInfo {
  width: 60vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.containSearchBar {
  width: 100%;
  display: flex;
  justify-content: center;
}
.containCards {
  right: 0px;
  padding: 40px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
}
.Link {
  text-decoration: none;
  color: #000;
}
@media screen and (max-width: 1500px) {
  .containBody {
    width: 90vw;
    margin: 0px auto;
  }
  .containInfo {
    width: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 800px) {
  .containBody {
    width: 100%;
    margin: 0px auto;
  }
  .containInfo {
    width: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .containCards {
    width: 100%;
    padding: 5px;
  }
}
