.container {
  display: flex;
  width: 250px;
  flex-direction: column;
}
.imageProduct {
  text-align: center;
  object-fit: cover;
  width: 250px;
  max-height: 250px;
  min-height: 250px;
}
.nameProduct {
  font-size: 19px;
  min-height: 46px;
}

.priceProduct {
  font-size: 16px;
}
.colorButton:hover {
  cursor: default;
}
.containColors {
  margin-bottom: 3px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3px;
}
.containSizes {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.size {
  font-size: 13px;
  font-weight: 500;
  margin: 0px;
}

@media screen and (max-width: 1500px) {
  .container {
    width: 230px;
  }
  .imageProduct {
    width: 230px;
    max-height: 230px;
    min-height: 230px;
  }
  .nameProduct {
    font-size: 17px;
    min-height: 40px;
  }

  .priceProduct {
    font-size: 16px;
  }
}
