@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;1,200&family=Roboto+Slab&family=Schibsted+Grotesk:wght@900&family=Ubuntu+Mono:ital,wght@1,700&display=swap");

.container {
  display: flex;
  justify-content: center;
  height: 150px;
  color: #fff;
  background: #000;
}
.containLogo {
  display: flex;
  align-items: center;
  width: 30%;
}
.containTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 39%;
}
.containTitleMobile {
  color: #fff;
  background: #000;
  padding-right: 25px;
  padding-left: 25px;
  visibility: hidden;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}
.subTitle {
  font-size: 13px;
  font-weight: 400;
}
.containOpts {
  padding-right: 30px;
  width: 30%;
  display: flex;
  gap: 70px;
  justify-content: end;
  flex-direction: row;
  align-items: center;
}
.containButtonProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.userPicture {
  height: 50px;
  border-radius: 100%;
  border: 2px solid #fff;
}
.profileH3 {
  margin-top: 2px;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
}
/* .containDropdown {
  visibility: hidden;
  position: absolute;
  width: 50%;
  display: flex;
  gap: 70px;
  justify-content: end;
  flex-direction: row;
  align-items: center;
}
.dropDownToggle {
  align-items: center;
  border-style: solid;
  border-color: white;
  width: 47px;
  background: none;
  margin-right: 20px;
}
.dropDownToggle::before {
  border-color: white;
  visibility: hidden;
}
.dropDownToggle::after {
  border-color: white;
  visibility: hidden;
}

.DropdownMenu {
  background: black;
}
.DropdownItem {
  color: white;
  font-weight: 500;
}
.iconUser {
  color: white;
  font-size: 20px;
}
.containOpt {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-right: 20px;
}
.underLogo {
  margin-left: 20px;
  position: relative;
  height: 120px;
}
.sigIn {
  border-width: 2px;
  font-weight: 700;
  border-color: rgb(211, 6, 6);
  background: rgb(211, 6, 6);
}

.sigIn:hover {
  color: rgb(211, 6, 6);
  background: white;
}
.containRedsLink {
  display: flex;
  align-items: center;
  gap: 15px;
}

.icon {
  font-size: 25px;
}
.icon:hover {
  cursor: pointer;
  color: rgb(211, 6, 6);
}
.iconEmail {
  font-size: 30px;
}
.iconEmail:hover {
  cursor: pointer;
  color: rgb(211, 6, 6);
}
.link {
  color: white;
}
.link:hover {
  color: rgb(211, 6, 6);
} */
.sigIn {
  border-width: 2px;
  font-weight: 700;
  border-color: rgb(211, 6, 6);
  background: rgb(211, 6, 6);
}

.sigIn:hover {
  color: rgb(211, 6, 6);
  background: white;
}
.underLogo {
  margin-left: 20px;
  position: relative;
  height: 120px;
}
@media screen and (max-width: 950px) {
  .containLogo {
    width: 50%;
  }
  .containOpts {
    width: 50%;
    padding-right: 10px;
  }
  .containTitle {
    visibility: hidden;
    position: absolute;
  }
  .containTitleMobile {
    position: static;
    visibility: visible;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .sigIn {
    font-size: 14px;
  }
}
@media screen and (max-width: 750px) {
  .containOpts {
  }

  .title {
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
  }
  .subTitle {
    font-size: 12px;
    font-weight: 400;
  }
  .sigIn {
    font-size: 13px;
  }
  .userPicture {
    height: 40px;
    border-radius: 100%;
  }
}
