.container {
  height: 37px;
  position: sticky;
  top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #212529;
  color: #000;
  z-index: 1000;
}
.icon {
  font-size: 19px;
  margin-right: 4px;
}
.iconBox {
  font-size: 16px;
  margin-right: 5px;
}
.iconHeart {
  font-size: 20px;
  margin-right: 4px;
}
.Link {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #212529;
  margin: 0px;
  height: 100%;
  font-size: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
}
.Link:hover {
  background-color: #282b2f;
  cursor: pointer;
}
@media screen and (max-width: 950px) {
  .container {
    height: 46px;
  }
  .Link {
    font-size: 15px;
  }
  .icon {
    font-size: 17px;
    margin-right: 4px;
  }
  .iconBox {
    font-size: 14px;
    margin-right: 5px;
  }
  .iconHeart {
    font-size: 19px;
    margin-right: 4px;
  }
}
