.container {
  border-radius: 4px;
  padding: 10px;
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #212529;
  color: #fff;
  position: sticky;
  top: 70px;

  margin-bottom: 100px;
}
.containTitleFilter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.reloadIcon {
  font-size: 25px;
}
.TitleFilter {
  font-size: 23px;
  font-weight: 400;
  margin-bottom: 10px;
}
.nameFilter {
  font-weight: 400;
  font-size: 19px;
}
.containColors {
  background: #fff;
  padding: 10px;
  border: 1px solid rgba(108, 108, 108, 0.597);
  display: block;
  width: 100px;
  height: 120px;
  padding-right: 0px;
  overflow-y: scroll;
}
.containButtonsColor {
  display: flex;
  height: auto;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.buttonColor {
  height: 25px;
  width: 25px;
}
.containDeleteFilter {
  width: 100px;
  margin-top: 4px;
  margin-bottom: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.deleteFilter {
  margin: 0px;
  font-size: 29px;
}
.deleteFilter:hover {
  cursor: pointer;
}
.colorDelete {
  border-radius: 4px;
  border: 2px solid white;
  height: 24px;
  width: 24px;
}

.containSizes {
  background: #fff;
  padding: 10px;
  border: 1px solid rgba(108, 108, 108, 0.597);
  display: block;
  width: 100px;
  height: 120px;
  padding-right: 0px;
  overflow-y: scroll;
}
.containSizeButtons {
  width: 100%;
  height: auto;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.buttonSize {
  border-radius: 4px;
  background: black;
  color: white;
  border: 1px solid white;
  height: 26.5px;
  font-weight: 500;
}

.containOpts {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  gap: 9px;
}
.buttonRefresh {
  background: #fff;
  color: rgb(0, 0, 0);
  font-size: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 4px;
}
.filterButton {
  background: #fff;
  color: rgb(0, 0, 0);
  font-size: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 4px;
}
.buttonRefresh:hover {
  background: #fff;
  color: rgb(199, 20, 20);
}
.filterButton:hover {
  background: #fff;
  color: rgb(198, 15, 15);
}
@media screen and (max-width: 800px) {
  .containColors {
    padding: 10px;
    width: 100px;
    height: 120px;
  }
  .containSizes {
    padding: 10px;
    width: 100px;
    height: 120px;
  }
}
